/**
 * top users block/page
 */
.user-views-top-user-page {

}

.user-views-top-user-block {

}
 
.user-views-user {
  margin-bottom: 1em;	
}

.user-views-top-user-page .user-views-user {
  border: 1px solid #cccccc;
	padding: 0.4em;
	background: #eeeeee;
	width: 95%;
	float: left;
}

.user-views-user-picture {
  float: left;
	margin-right: 0.5em;
	width: 35%;
}
.user-views-top-user-page .user-views-user-picture {
	width: 15%;
}

.user-views-user-details {
  float: left;
	width: 60%;
}

.user-views-top-user-page .user-views-user-details {
  float: left;
	width: 80%;
}

.user-views-user-username {
  overflow: hidden;
}

.user-views-user-count {

}


.total-views,
.day-views {
  font-size: 0.8em;
	color: #666666;
}

.day-views {

}